In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 508.1 kB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.8/112.8 KB 4.1 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 7.0 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.2-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 35.8 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 5.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 3.5 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.2/199.2 KB 21.5 MB/s eta 0:00:00
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: appdirs, html5lib, frozendict, charset-normalizer, beautifulsoup4, requests, cryptography, yfinance
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.9.3
    Uninstalling beautifulsoup4-4.9.3:
      Successfully uninstalled beautifulsoup4-4.9.3
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
Successfully installed appdirs-1.4.4 beautifulsoup4-4.11.2 charset-normalizer-3.1.0 cryptography-39.0.2 frozendict-2.3.5 html5lib-1.1 requests-2.28.2 yfinance-0.2.12

In [3]:
import pandas as pd
import numpy as np
from scipy.stats import norm
import yfinance as yf

In [8]:
# Load the data from a CSV file
# Define the list of stocks you want to download data for
stocks = ['RELIANCE.NS', 'TCS.NS', 'HDFCBANK.NS', 'INFY.NS', 'HINDUNILVR.NS']

# Download the data using yfinance
data = yf.download(stocks, start='2015-01-01', end='2023-03-14', group_by='ticker')

[*********************100%***********************]  5 of 5 completed

In [10]:
data.head()

                 TCS.NS                                                      \
                   Open         High          Low        Close    Adj Close
Date
2015-01-01  1283.500000  1283.500000  1270.500000  1272.775024  1075.850952
2015-01-02  1275.500000  1295.474976  1275.300049  1289.724976  1090.178467
2015-01-05  1290.500000  1299.949951  1262.324951  1270.125000  1073.610596
2015-01-06  1264.550049  1264.550049  1220.000000  1223.300049  1034.030762
2015-01-07  1235.000000  1239.574951  1203.724976  1208.849976  1021.816467

                    HINDUNILVR.NS                                      ...  \
             Volume          Open        High         Low       Close  ...
Date                                                                   ...
2015-01-01   366830    759.299988  761.900024  754.150024  758.450012  ...
2015-01-02   925740    757.000000  766.000000  752.650024  755.950012  ...
2015-01-05  1754242    759.750000  761.900024  755.099976  760.299988  ...
2015-01-06  2423784    767.000000  779.900024  755.400024  774.700012  ...
2015-01-07  2636332    779.000000  806.799988  779.000000  801.900024  ...

           HDFCBANK.NS                                  RELIANCE.NS  \
                   Low       Close   Adj Close   Volume        Open
Date
2015-01-01  472.524994  476.024994  451.475281  1772470  438.988831
2015-01-02  475.200012  482.649994  457.758636  2950192  439.880371
2015-01-05  477.549988  478.575012  453.893799  2398000  438.344940
2015-01-06  468.774994  471.125000  446.827972  4109840  430.915344
2015-01-07  468.125000  472.500000  448.132080  2873056  414.619812


                  High         Low       Close   Adj Close   Volume
Date
2015-01-01  441.812073  437.676270  439.781311  417.988922  1367720
2015-01-02  443.818054  437.998199  438.617340  416.882568  3383424
2015-01-05  441.267212  432.946106  433.812897  412.316254  4662967
2015-01-06  432.401276  412.093750  414.124512  393.603485  8596809
2015-01-07  425.367950  414.570282  423.139069  402.171295  9562421

[5 rows x 30 columns]

In [11]:
data.columns

MultiIndex([(       'TCS.NS',      'Open'),
            (       'TCS.NS',      'High'),
            (       'TCS.NS',       'Low'),
            (       'TCS.NS',     'Close'),
            (       'TCS.NS', 'Adj Close'),
            (       'TCS.NS',    'Volume'),
            ('HINDUNILVR.NS',      'Open'),
            ('HINDUNILVR.NS',      'High'),
            ('HINDUNILVR.NS',       'Low'),
            ('HINDUNILVR.NS',     'Close'),
            ('HINDUNILVR.NS', 'Adj Close'),
            ('HINDUNILVR.NS',    'Volume'),
            (      'INFY.NS',      'Open'),
            (      'INFY.NS',      'High'),
            (      'INFY.NS',       'Low'),
            (      'INFY.NS',     'Close'),
            (      'INFY.NS', 'Adj Close'),
            (      'INFY.NS',    'Volume'),
            (  'HDFCBANK.NS',      'Open'),
            (  'HDFCBANK.NS',      'High'),
            (  'HDFCBANK.NS',       'Low'),
            (  'HDFCBANK.NS',     'Close'),
            (  'HDFCBANK.NS', 'Adj Close'),
            (  'HDFCBANK.NS',    'Volume'),
            (  'RELIANCE.NS',      'Open'),
            (  'RELIANCE.NS',      'High'),
            (  'RELIANCE.NS',       'Low'),
            (  'RELIANCE.NS',     'Close'),
            (  'RELIANCE.NS', 'Adj Close'),
            (  'RELIANCE.NS',    'Volume')],
           )

In [14]:
data_new = data[[(       'TCS.NS',     'Close'),('HINDUNILVR.NS',     'Close'),(      'INFY.NS',     'Close'),(  'HDFCBANK.NS',     'Close'),(  'RELIANCE.NS',     'Close')]]

In [15]:
data_new.head()

                 TCS.NS HINDUNILVR.NS     INFY.NS HDFCBANK.NS RELIANCE.NS
                  Close         Close       Close       Close       Close
Date
2015-01-01  1272.775024    758.450012  493.600006  476.024994  439.781311
2015-01-02  1289.724976    755.950012  503.299988  482.649994  438.617340
2015-01-05  1270.125000    760.299988  498.975006  478.575012  433.812897
2015-01-06  1223.300049    774.700012  488.549988  471.125000  414.124512
2015-01-07  1208.849976    801.900024  490.887512  472.500000  423.139069

In [16]:
data_new.columns

MultiIndex([(       'TCS.NS', 'Close'),
            ('HINDUNILVR.NS', 'Close'),
            (      'INFY.NS', 'Close'),
            (  'HDFCBANK.NS', 'Close'),
            (  'RELIANCE.NS', 'Close')],
           )

In [19]:
data_new.head()

                 TCS.NS HINDUNILVR.NS     INFY.NS HDFCBANK.NS RELIANCE.NS
                  Close         Close       Close       Close       Close
Date
2015-01-01  1272.775024    758.450012  493.600006  476.024994  439.781311
2015-01-02  1289.724976    755.950012  503.299988  482.649994  438.617340
2015-01-05  1270.125000    760.299988  498.975006  478.575012  433.812897
2015-01-06  1223.300049    774.700012  488.549988  471.125000  414.124512
2015-01-07  1208.849976    801.900024  490.887512  472.500000  423.139069

In [20]:
# Calculate the daily returns
returns = data_new.pct_change().dropna()

In [21]:
# Define the prior distribution
mu_prior = np.mean(returns)
std_prior = np.std(returns)
prior = norm(mu_prior, std_prior)

/usr/local/lib/python3.9/dist-packages/numpy/core/fromnumeric.py:3472: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [ ]:
# Calculate the likelihood
def likelihood(mu, std):
    return np.prod(norm(mu, std).pdf(returns))
# Define the posterior distribution
def posterior(mu, std):
    return likelihood(mu, std) * prior.pdf(mu)
# Find the MAP estimates
mu_map, std_map = max([(mu, std) for mu in np.linspace(mu_prior-0.05, mu_prior+0.05, 100) for std in np.linspace(std_prior-0.05, std_prior+0.05, 100)], key=lambda x: posterior(*x))

In [ ]:
# Print the results
print(f'MAP estimate of mean: {mu_map:.4f}')
print(f'MAP estimate of standard deviation: {std_map:.4f}')